@page
@model Site.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Room.Adress" class="control-label"></label>
                <input asp-for="Room.Adress" class="form-control" />
                <span asp-validation-for="Room.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Landlord" class="control-label"></label>
                <input asp-for="Room.Landlord" class="form-control" value="@Model.nw.FirstName @Model.nw.LastName" readonly>
                <span asp-validation-for="Room.Landlord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Price" class="control-label"></label>
                <input asp-for="Room.Price" class="form-control" />
                <span asp-validation-for="Room.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Room.Duration" class="control-label"></label>
                <input asp-for="Room.Duration" class="form-control" />
                <span asp-validation-for="Room.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
