@page
@model Site.Pages.LoginModel
@{
}
<form  class="As" method="post">
    <span asp-validation-for="Input.Email" class="text-danger"></span>
    <input asp-for="Input.Email" placeholder="Почта" type="text" required>
    <br>
    <span asp-validation-for="Input.Password" class="text-danger"></span>
    <input asp-for="Input.Password" placeholder="Пароль" type="password" required>
    <br>
    <button type="submit" >Войти</button>
    <br>
    <a class="nav-link text-dark" asp-page="Registration">Регистрация</a>
    <a class="nav-link text-dark" asp-page="Index">Вернуться</a>
</form>