@page
@model Site.Pages.LoginModel
@{
}
<form  class="As">
    <input id="email" placeholder="Почта" type="text" required>
    <br>
    <input id="password" placeholder="Пароль" type="password" required>
    <br>
    <button type="submit" >Войти</button>
    <br>
    <a class="nav-link text-dark" asp-page="Registration">Регистрация</a>
    <a class="nav-link text-dark" asp-page="Index">Вернуться</a>
</form>