@page
@model Site.Pages.RegistrationModel
@{
}
<form class="As" method="post">
    <div>
        <input placeholder="Имя" asp-for="Input.FirstName" required />
    </div>
    <div>
        <input placeholder="Фамилия" asp-for="Input.LastName" required />
    </div>
    <div>
        <span asp-validation-for="Input.Phone" class="text-danger"></span>
        <input placeholder="Телефон в формате +7-***-***-**-**" style="width:267px" type="tel" asp-for="Input.Phone" required />
    </div>
    <div>
        <span asp-validation-for="Input.Email" class="text-danger"></span>
        <input placeholder="Почта" type="email" asp-for="Input.Email" required />
    </div>
    <div>
        <input placeholder="Пароль" type="password" asp-for="Input.Password" required />
    </div>
    <div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        <input placeholder="Подтвердите пароль" type="password" asp-for="Input.ConfirmPassword" required />
    </div>
    <div>
        <input type="radio" asp-for="Input.Role" value="tenant" required /> Аренатор
        <input type="radio" asp-for="Input.Role" value="landlord" required /> Арендодатель
    </div>
    <br>
    <input type="submit" value="Register" /><br>

    <a class="nav-link text-dark" asp-page="Login">Вход</a>
    <a class="nav-link text-dark" asp-page="Index">Вернуться</a>
</form>